* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heaader-main {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  /* border-bottom: 1px solid #ddd; */

}

.logo {
  width: 20%;



}

.logo img {
  width: 100%;

}

.navbar {
  list-style: none;
  display: flex;
  /* gap: 15px; */

}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

.navbar ul li a:hover {
  color: orange;
}

.banner-main {
  width: 100%;
}

.banner {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  color: white;
}



.banner-text {

  width: 100%;


}

.banner-img img {
  width: 100%;

  margin-bottom: 20px;


}

.Card-main {
  width: 100%;
}

.card {
  width: 100%;
}

.parentens-card {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.child-cards {
  width: 23%;
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.child-cards h2 {
  color: rgb(248, 158, 98);
  font-size: 24px;
  margin: 10px 0;
}

.child-cards p {
  color: grey;
  font-size: 14px;
}

.bandara-main {
  width: 100%;

}

.bandara {
  width: 100%;
  /* height: 100%; */
  margin: 50px 0;
  padding: 50px;
  background-color: #d79120;
  text-align: center;
}

.bandara h1 {
  color: white;
  font-size: 50px;
}

.bandara button {
  border-radius: 40px;
  font-size: 24px;
  padding: 20px;
  margin-top: 20px;
  color: #d79120;
  border: 1px solid white;

}

.bandara button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.humanity-main {
  width: 100%;
}

.humanity {
  width: 100%;
  margin: 50px 0;
}

.parent-humanity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

}

.humanity-IMAGES {
  width: 48%;
}

.humanity-IMAGES img {
  width: 100%;
  border-radius: 10px;
}

.Text-humanity {
  width: 48%;
  margin-left: 40px;

}

.Text-humanity h1 {
  font-size: 40px;
  color: #333;
}

.Text-humanity p {
  font-size: 26px;
  color: #666;
  padding-top: 30px;
}

.mission-main {
  width: 100%;
}

.mission {
  width: 100%;
  margin: 50px 0;
}

.parents-mission {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mission-text {
  width: 50%;
}

.mission-text h1 {
  font-size: 35px;
  color: #333;
}

.mission-text p {
  font-size: 26px;
  color: #666;
  padding-top: 30px;
}

.mission-images {
  width: 50%;
}

.mission-images img {
  width: 100%;
}

.bhandaracard-main {
  width: 100%;
}

.bhandaracard {
  width: 100%;
  margin: 50px 0;
}

.bhandara-header {
  width: 100%;
  color: #d9534f;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;

}

.parents-bhandara {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.box {
  width: 23%;
  border: 2px solid #d79120;
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
}

.box h3 {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.box p {
  color: #666;
  font-size: 14px;
  padding: 20px;
}

.volunteer-main {
  width: 100%;
}

.volunteer {
  width: 100%;


  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px 0px;

}

.text-volunteer {
  width: 100%;


}

.text-volunteer h1 {
  font-size: 40px;
  color: #333;
  padding-bottom: 24px;

}

.text-volunteer p {
  font-size: 16px;
  color: #666;
  padding-bottom: 20px;
}

.become-a-volunteer {
  width: 100%;
  background-color: #ff5c35;
  color: white;
  padding: 15px 20px;
  font-size: 25px;
  border: none;
  margin-top: 90px;
  text-decoration: none;
  border-radius: 20px;
  /* border: 2px solid darkblue; */

}

.media-main {
  width: 100%;
}

.media {
  width: 100%;
  margin: 50px 0;
}

.media-section {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 20px;
}

.media-section h2 {
  color: #333;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.media-logo {
  width: 100%;
  /* border: 2px solid #f3edc9; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 15px;
}

.logos {
  width: 18%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.logos img {
  width: 80%;
  /* aspect-ratio: 1; */
  /* height: auto; */
  /* border: 2px solid green; */


}

.main-review {
  width: 100%;
}

.review {
  width: 100%;
  margin: 50px 0;


}

.review-header {
  width: 100%;
  text-align: center;


}

.review-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  /* flex-direction: column; */
}

.review-text {
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;

}

.review-text h2 {
  color: #d9534f;
}

.stars {
  text-align: left;
  font-size: 20px;
  color: #d79120;
}

.user {
  width: 100%;
  /* height: 200px; */
  margin-top: 15px;
  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* border: 2px solid red; */
  /* gap: 10px; */
}

.user-image {
  width: 100px;
  aspect-ratio: 1;
  /* border-radius: 50%; */
  position: absolute;
  /* border: 2px solid red; */
  /* top: 0px; */
  left: -10px;
  bottom: 0px;
  border-radius: 20px;
  overflow: hidden;
}

.user-image img {
  width: 100%;
  aspect-ratio: 1;
}

.user p {
  font-weight: bold;
}

.download-main {
  width: 100%;
}

.download-bhandara {
  width: 100%;
  /* height: 100vh; */
  margin: 50px 0;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;

}

.parent-download {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-download {
  width: 50%;
  background-color: #fff;
  text-align: center;
  flex: 1;
  padding: 20px;
}

.text-download h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.text-download p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.download-image {
  width: 50%;
  background-color: #666;

}

.download-image img {
  width: 100%;
  border-radius: 10px;
}

.footer-main {
  width: 100%;
  background-color: #fff3e0;
}

.footer {
  width: 100%;

  padding: 40px 20px;
  color: #5a2e02;
}

.footer-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left {
  width: 23%;
  /* margin-right: 30px; */
  /* flex: 1; */

}

.footer-left h1 {
  color: #d9534f;
}

.footer-middle {
  width: 23%;
  /* flex: 1; */

}

.footer-middle h3 {
  font-size: 18px;
  /* border-bottom: 2px solid #ff6f00; */
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-middle ul {
  list-style: none;
  padding: 0;

}

.footer-middle ul li {
  margin: 5px 0;
}

.footer-middle ul li a {
  text-decoration: none;
  color: #333;
}

.footer-right {
  width: 23%;
  margin: 5px 0;
}

.footer-right h3 {
  font-size: 18px;
  color: #ff5c35;
  /* border-bottom: 2px solid #ff6f00; */
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-right h1 {
  color: #ff6f00;
  font-size: 15px;
  padding-bottom: 10px;
}

.footer-right p {
  color: #333;

}

